.navigation{
    background-color: #EDF4FF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}   
.navigation .black .my_modal{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1115px;
    height: 1070px;
    position: fixed;
    margin:auto;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(34, 98, 198, 0.15);
    border-radius: 3px;
    top: 24px;
    left: 100px;
    box-sizing: border-box;
}

.black .my_modal .head_blue{
    padding: 17px 20px;
    box-sizing: border-box;
    background: #2262C6;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.black .my_modal .contain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 20px;
    background-color: #FFFFFF;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}
.black  .my_modal .contain .select_1{
    border: 1px solid rgba(34, 98, 198, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}   
.black  .my_modal .contain .select_1 .title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #2262C6;
    width: 220px;

}
.black  .my_modal .contain .select_1 .cheque{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    flex: 1;
}
.black  .my_modal .contain .select_1 .cheque .choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 20px;
}
.black  .my_modal .contain .select_1 .cheque .choose input{
    margin-right: 10px;
}
.navigation .black{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    z-index: 0;
}
.navigation .pm_head_white{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border: 0.3px solid #2262C680;
    box-shadow: 2px 2px 5px 0px #2262C626;
    box-sizing: border-box;
    /* border-radius: 0 0 2px 2px; */
  }
.pm_head_white img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}
.pm_head_white .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    height: 36px;
    width: 277px;
    margin-right: 20.5px;
} 
.pm_head_white .search input{
    flex: 1;
    border: none;
    outline: none;
    margin-left: 10.81px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.pm_head_white .search input::-webkit-input-placeholder{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.pm_head_white .search img{
    height: 20px;
    width: 20px;
    border-radius: 0px;
    margin: 0 11.19px;
}
.navigation .contain_main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.contain_main .chooseItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.chooseItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.chooseItem a{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #949494;
}
.chooseItem .select{
    color: #2262C6;
}
.chooseItem img{
    height: 14px;
    width: 8px;
    border-radius: 1px;
    margin: 0 10px;
}
.navigation .view_info_white{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}
.navigation .view_info_white div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navigation .view_info_white div span{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    Height: 36px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 8px 10px;
    min-width: 81px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.navigation .navigation_white{
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;  
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(34, 98, 198, 0.3);
    border-radius: 3px;
    margin-bottom: 20px;
}
.navigation_white li{ 
    list-style: none;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin:auto;
}
.navigation_info{
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-family: Noto Sans TC;
}

.navigation_info span{
    font-weight: bold;
    margin-right: 3px;
}
.navigation_info h1{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2262C6;
    margin-bottom: 5px;
    margin-top: 0;
}
.navigation_info h2{
    font-size: 16px;
    line-height: 23px;
    color: #2262C6;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
}
.navigation_info p{
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-top: 0;
    margin-bottom: 5px;
}
.navigation_info p:last-child{
    margin-bottom:10px;
}
.property_input{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(34, 98, 198, 0.15);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    
}
.property_input .left{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.property_input .left h1{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #2262C6;
    margin-bottom: 20px;
}
.property_input .left .row_line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}
.property_input .left .row_line div{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right:auto;
    margin-bottom: 20px;
}
.property_input .left .row_line div h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin: 0;
    margin-bottom: 10px;
}
.property_input .left .row_line div input {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
.property_input .left .row_line div input::-webkit-input-placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.property_input .left .row_line div select {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
.property_input .right{
    width: 405px;
    height: 300px;
    margin-top: 60px;
}
.property_input .right h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
}
.property_input .right div{
    height: inherit;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.property_input .right div img{
    height: 169px;
    width: 241px;
    margin-bottom: 10px;
}
.property_input .right div p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #949494;
    margin: 0;
}
.property_detail{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(34, 98, 198, 0.15);
    border-radius: 3px;
}

.property_detail h1{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #2262C6;
}
.property_detail div h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin: 0;
}
.property_detail input {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
.property_detail input::-webkit-input-placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.property_detail .row_space{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}
.property_detail .row_space .row_line{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
}
.property_detail .row_space div{ 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    display: flex;
    flex-direction: row;
}
.property_detail .row_space div p{
    margin: 0;
    color: #00ADAD;
} 
.property_detail .row_space .row_line div{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right:20px;
}
.bottom20{

    margin-bottom: 20px;
}
/* .calendar_input{
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 30px !important;
}
.calendar_input input{
    display: flex;
    flex: 1;
    border: none;
}
.calendar_input img{
    display: flex;
    width: 18px;
    height: 20px;
    margin-right: 10px;
} */
/* .bottom_submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 35px;
}
.bottom_submit div{
    border-radius: 3px;
    height: 43px;
    width: 92px;
    border-radius: 3px;
    padding: 10px, 20px, 10px, 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bottom_submit input{
    box-sizing: border-box;
    border-radius: 3px;
    height: 43px;
    width: 92px;
    padding: 10px, 20px, 10px, 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;

}
.bottom_submit .cancel{
    background: #FFFFFF;
    border: 1px solid #2262C6;
    margin-right: 10px;
    color: #2262C6;

}
.bottom_submit .next{
    background: #2262C6;
    font-family: Noto Sans TC;
    color: #FFFFFF;
} */


/* 这个是properties的 */
.title_properties{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #737373;
}
.title_properties h1{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #2262C6;
}
.title_properties span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #00ADAD;
    border-radius: 3px;
    padding: 8px 10px;
}
.properties_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(34, 98, 198, 0.15);
    border-radius: 3px;
    }
.properties_card .top_content{
    height: 66px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.properties_card .top_content .left_filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #505055;
}
.properties_card .top_content .left_filter select{
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 36px;
    font-weight: 500;
    padding: 8px 10px;
}
.properties_card .top_content .left_filter span{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #2262C6;
    padding: 8px 10px;
    box-sizing: border-box;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #2262C6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 10px;
}
.properties_card .top_content .right_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
}
.properties_card .top_content .right_search input{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 36px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    padding: 8px 10px;
}
.properties_card .top_content .right_search input::placeholder{
    color: #C4C4C4;
}
.properties_card .top_content .right_search span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 68px;
    height: 36px;
    background: #2262C6;
    border: 1px solid #2262C6;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 10px;
}
/* .properties_card .middle_content{} */
.properties_card table{
    width: 100%;
}
.properties_card table thead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
}
.properties_card table thead tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 0.5px solid rgba(34, 98, 198, 0.5);
    box-sizing: border-box;
}
.properties_card table thead tr th{
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    color: #505050;
    width: 90px;
}
.properties_card table thead tr th select{
    font-style: normal;
    font-weight: bold;
    border: 0;
    font-size: 12px;
    line-height: 17px;
    color: #505050;
}
.properties_card table tbody tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 96px;
    width: 100%;
    border: 0.5px solid rgba(34, 98, 198, 0.5);
    box-sizing: border-box;
}
.properties_card table tbody tr th{
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    color: #505050;
    width: 90px;
}
.properties_card table tbody tr th div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.properties_card .bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.properties_card .bottom p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
    margin: 10px 0 15px 10px;
}
.properties_card .bottom .bottom_total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #2262C6;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}
.properties_card .bottom_total div{
    margin-right: 100px;
}
.properties_card .bottom_total span{
    margin-left: 28px;
}
.properties_card .bottom_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    margin: 30px 0;
}
.properties_card .bottom_page span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    height: 36px;
    width: 55px;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #2262C6;
}
.properties_card .bottom_page .middle{
    width: 252px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
}
.properties_card .bottom_page .middle div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.properties_card .bottom_page .middle span{
    width: 36px;
    border-width: 0 0.5px 0 0; 
    border-radius: 0;
}
.properties_card .bottom_page .middle span:hover{
    background: #F6F8F7;
}
.properties_card .bottom_page .middle span:last-child{
    border-width: 0; 
}
.properties_card .bottom_page .middle div span:last-child{
    border-width: 0 0.5px 0 0; 
}

/* landlord   card 白色里的内容*/
.landlord_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(34, 98, 198, 0.15);
    border-radius: 3px;
    margin-bottom: 20px;
}
.landlord_card .top_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.landlord_card .top_add h1{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #2262C6;
}
.landlord_card .top_add span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00ADAD;
    border-radius: 3px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    height: 36px;
    width: 81px;
    border-radius: 3px;
    padding: 8px, 10px, 8px, 10px;
}
.landlord_card .row_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.landlord_card .row_line div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
    margin-right: 50px;
}
.landlord_card .row_line div h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 5px;
}
.landlord_card .row_line div p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
}
.landlord_card .row_line div input{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    width: 170px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    padding: 10px;
}
.landlord_card .row_line div input::-webkit-input-placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.landlord_card  .automatic
{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}
.landlord_card  .select{
    display: flex ;
    flex-direction: row;
    align-items: center;
    margin-bottom: 11.5px;
}
.landlord_card  .select input{
    margin-right: 10px;
}
.landlord_card  .select div{
    display: flex ;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
/* baking 蓝色框里的内容 */
.landlord_card .banking{
    border: 1px solid rgba(34, 98, 198, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}   
.landlord_card .banking h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #2262C6;
}
.landlord_card .banking .cheque{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
}
.landlord_card .banking .cheque .choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 20px;
}
.landlord_card .banking .cheque .choose input{
    margin-right: 10px;
}
.landlord_card .banking .cheque select{
    margin: 10px 0;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    width: 318px;
}
/* baking里的eft，下面的那个 */
.landlord_card .banking .eft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}
.landlord_card .banking .eft .select{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.landlord_card .banking .eft .select input{
    margin-right: 10px;
}
.landlord_card .banking .eft h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 10px;
}
.landlord_card .banking .eft .select_bank{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 10px;
}
.landlord_card .banking .eft .select_bank input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.landlord_card .banking .eft .select_bank div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    height: 46px;
    width: 130px;
    border-radius: 3px;
    margin-right: 40px;
    
}
.landlord_card .banking .eft .select_bank div img{
    /* height: 45px; */
    max-width: 100%;
    object-fit: cover;
}
/* banking里的row一行行的输入框 */
.landlord_card .banking .row_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.landlord_card .banking .row_line div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right:auto;
}
.landlord_card .banking .row_line div h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin: 0;
    margin-bottom: 10px;
}
.landlord_card .banking .row_line div input {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
.landlord_card .banking .row_line div input::-webkit-input-placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.landlord_card .banking .row_line div select {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
/* tenant_card */
.tenant_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(34, 98, 198, 0.15);
    border-radius: 3px;
    margin-bottom: 20px;
}
.tenant_card .top_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tenant_card .top_add h1{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #2262C6;
}
.tenant_card .top_add span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00ADAD;
    border-radius: 3px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    height: 36px;
    width: 81px;
    border-radius: 3px;
    padding: 8px, 10px, 8px, 10px;
}
/* tenant_card 蓝色框里的内容 */
.tenant_card .personal{
    border: 1px solid rgba(34, 98, 198, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}   
.tenant_card .personal h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #2262C6;
    width: 235px;
}
.tenant_card .personal .cheque{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
}
.tenant_card .personal .choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 20px;
}
.tenant_card .personal  .choose input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.tenant_card .personal  .choose .row_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tenant_card .row_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.tenant_card .row_line div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right:20px;
}
.tenant_card .row_line div h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin: 0;
    margin-bottom: 10px;
}
.tenant_card .row_line div input {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
.tenant_card .row_line div input::-webkit-input-placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}
.tenant_card .row_line div select {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    height: 40px;
    padding: 10px;
}
.select_bank{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #505050;
    margin-bottom: 10px;
}
.select_bank input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.select_bank div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    height: 46px;
    width: 130px;
    border-radius: 3px;
    margin-right: 40px;
    
}
.select_bank div img{
    /* height: 45px; */
    max-width: 100%;
    object-fit: cover;
}