<!-- PROPERTY INFO -->
<div class="navigation_info">
  <h1 class="h1_18">PROPERTY INFO</h1>
  <h2 class="h1_16">ADDress:57355 NO.3a</h2>
  <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquams</p>
  <p>
    Ref ID: R008-2021-07-0002
  </p>
  <p>PM ID: PM12345</p>
</div>
