
<!-- 导航栏 白色 选中蓝色 -->
<ul class="navigation_white">
<li class="select"><a href="/pc/pm/property">Property</a></li>
<li><a href="/pc/pm/landlord">Landlord</a></li>
<li><a href="/pc/pm/tenant">Tenant</a></li>
<li><a href="/pc/pm/accounts_receivable">Accounts Receivable</a></li>
<li><a href="/pc/pm/management">Management</a></li>
<li><a href="/pc/pm/non_resident_tax">Non-Resident Tax</a></li>
<li><a href="/pc/pm/accounts_payable">Accounts Payable</a></li>
<li><a href="/pc/pm/pay_to_landlord">Pay to Landlord</a></li>
<li><a href="/pc/pm/files">Files</a></li>
<li><a href="/pc/pm/summary">Summary</a></li>
</ul>
