<div class="pm_head_white">
  <img
    src='/images/pc/pm/head1.svg'
    alt=''
  />
  <img
    src='/images/pc/pm/head2.svg'
    alt=''
  />
  <img
    src='/images/pc/pm/head3.svg'
    alt=''
    />
  <div class="search">
    <input placeholder="Search" />
    <img src='/images/pc/pm/head_search.svg' />
  </div>
</div>
