<!-- 公共样式 -->
<div class="row">
  <h1>Landlord Name:</h1>
  <p>John Doe</p>
</div>
<div class="row">
  <h1>Landlord ID#:</h1>
  <p>LL123456</p>
</div>
<div class="row">
  <h1>Address:</h1>
  <p>Apt 123 1234 Marine Dr</p>
</div>
<div class="row">
  <h1>City:</h1>
  <p>Vancouver</p>
</div>
<div class="row">
  <h1>Province:</h1>
  <p>British Columbia</p>
</div>
<div class="row">
  <h1>Country:</h1>
  <p>Canada</p>
</div>
<div class="row">
  <h1>Postal Code:</h1>
  <p>V1V2V3</p>
</div>
<div class="row">
  <h1>Type:</h1>
  <p>Residential Strata</p>
</div>
<!-- 描述 -->
  <h1>Description:</h1>
  <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.</p>
<div class="row">
  <h1>Starting Date:</h1>
  <p>06/20/20</p>
</div>
<div class="row">
  <h1>Expiry Date:</h1>
  <p>06/20/21</p>
</div>
<h1>Picture:</h1>
<img src="/images/pc/pm/pic.png" />
<div style="margin-bottom: 20px;">
  <h1>Current Term</h1>
  <p>60 months</p>
</div>
<div style="margin-bottom: 20px;">
  <h1>Finished Months</h1>
  <p>60 months</p>
</div>
<div style="margin-bottom: 20px;">
  <h1>Unfinished Months</h1>
  <p>60 months</p>
</div>
